{%extends 'table.html'%}
{%block title%}
删除账户
{%endblock%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename = 'customer_create.css')}}">
<script>

</script>
{%endblock%}
{%block main%}
<div class="create_main">
    <h3>请输入账户号进行删除</h3>
    <div class="form_contain">
    <form class="form-inline" method="post">
      <div class="form-group">
        <label style="margin:10px">账户号</label>
        <input type="id" class="form-control" id="id" name="id" placeholder="请输入账户号" style="margin:10px;min-width:300px">
      </div>
      <button type="submit" class="btn btn-primary" style="margin:10px" name="change" id="change">删除</button>
    </form>
    {%if success == 1%}
    <form class="form-horizontal" method="post">
      <div class="form-group">
        <label class="col-sm-2 control-label">账户号(6位)</label>
        <div class="col-sm-10">
          <input type="id" class="form-control" id="id1" name="id1" value="{{r[0]}}" readonly="true">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">余额</label>
        <div class="col-sm-10">
          <input type="money" class="form-control" id="money" name="money" value="{{r[1]}}" readonly="true">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">开户银行</label>
        <div class="col-sm-10">
          <input type="bank" class="form-control" id="bank" name="bank" value="{{r[2]}}" readonly="true">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">开户日期</label>
        <div class="col-sm-10">
          <input type="place" class="form-control" id="place" name="place" value="{{r[3]}}" readonly="true">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">账户类型</label>
        <div class="col-sm-10">
            <input type="account_type" class="form-control" id="account_type" name="account_type" value="{{r[4]}}" readonly="true">
        </div>
      </div>
      {%if r[4]=='储蓄账户'%}
      <div class="form-group mysave">
        <label class="col-sm-2 control-label">货币类型</label>
        <div class="col-sm-10">
          <input type="type" class="form-control" id="type" name="type" value="{{r[9]}}" readonly="true">
        </div>
      </div>
      <div class="form-group mysave">
        <label class="col-sm-2 control-label">利率</label>
        <div class="col-sm-10">
          <input type="interest_rate" class="form-control" id="interest_rate" name="interest_rate" value="{{r[8]}}" readonly="true">
        </div>
      </div>
      {%endif%}
      {%if r[4] == '支票账户'%}
      <div class="form-group mycheque">
        <label class="col-sm-2 control-label">透支额</label>
        <div class="col-sm-10">
          <input type="overdraft" class="form-control" id="overdraft" name="overdraft" value="{{r[7]}}" readonly="true">
        </div>
      </div>
      {%endif%}
      <div class="form-group">
        <label class="col-sm-2 control-label">客户</label>
        <div class="col-sm-10">
          <input type="customer" class="form-control" id="customer" name="customer" value="{{r[5]}}" readonly="true" >
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" name="submit" id="submit">确认删除</button>
        </div>
      </div>
    </form>
    {%endif%}
    {%if success == 2%}
      <h3>删除成功</h3>
    {%endif%}
    {%if failed == 1%}
      <h3>输入信息有误，请仔细核对</h3>
    {%endif%}
    {%if failed == 2%}
        <h3>查无此人</h3>
    {%endif%}
    {%if failed == 3%}
        <h3>删除失败</h3>
    {%endif%}
    </div>
</div>
<script>
  if ({{account_type}} == 0){
    $('.mysave').show();
  }else{
    $('.mycheque').show();
  }
</script>
{%endblock%}